<h1>Тестування</h1>

<div class="col-md-12 image">
    <img src="https://pixabay.com/static/uploads/photo/2015/10/01/21/39/background-image-967820_960_720.jpg"
         class="img-responsive">
</div>

<div class="col-md-12 block-question">
    <span class="question">Питання</span>
    <div class="question-block">
        <div>
            <input type="radio" name="radiog_lite" id="radio1" class="css-checkbox"/>
            <label for="radio1" class="css-label radGroup1">Ответ 1</label>
        </div>
        <div>
            <input type="radio" name="radiog_lite" id="radio2" class="css-checkbox"/>
            <label for="radio2" class="css-label radGroup1">Ответ 2</label>
        </div>
        <div>
            <input type="radio" name="radiog_lite" id="radio3" class="css-checkbox"/>
            <label for="radio3" class="css-label radGroup1">Ответ 3</label>
        </div>
        <div>
            <input type="radio" name="radiog_lite" id="radio4" class="css-checkbox"/>
            <label for="radio4" class="css-label radGroup1">Ответ 4</label>
        </div>
    </div>
</div>

<div class="col-md-12 button">
    <button md-raised-button>Следующий вопрос</button>
</div>




