.fill-bar{
  flex: 1 1 auto;
}

h1 {
  text-align: center;
  margin: 25px 0;
}

span {
  font-size: 1.5em;
}

.question {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.block-question {
  text-align: center;
}

.question-block div {
  margin-bottom: 10px;
}
.question-block {
  margin-top: 20px;
  text-align: left;
}

.image .img-responsive {
  margin: 0 auto;
  position: relative;
  width: 350px;
}

.image {
  text-align: center;
}

.button {
  text-align: center;
  position: relative;
  bottom: 0;
}

.back-button {
  margin: 20px;
  position: relative;
}


input[type=radio].css-checkbox {
  position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=radio].css-checkbox + label.css-label {
  padding-left:28px;
  height:22px;
  display:inline-block;
  line-height:22px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:22px;
  vertical-align:middle;
  cursor:pointer;

}

input[type=radio].css-checkbox:checked + label.css-label {
  background-position: 0 -22px;
}
label.css-label {
  background-image:url(../dist/assets/img/csscheckbox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.alert {
  text-align: center;
  width: 300px;
  position: absolute;
  right: 5%;
  top: 5%;
}

.timer {
  margin-top: 30px;
  text-align: center;
}
.menu {
  margin-top: 30px;
}
.textcenter {
  margin-top: 15%;
  text-align: center;
}