<h1>Перевірка знань</h1>
<div class="col-md-12 mode">
    <span>Виберіть режим:</span>
    <button class="btn-type" md-raised-button>Навчання</button>
    <button class="btn-type" md-raised-button>Тестування</button>
</div>

<div class="col-md-12 theme">
    <span>Виберіть тему:</span>
    <button class="btn-type" md-raised-button>Вся програма</button>
    <button class="btn-type" md-raised-button>Окрема тема</button>
</div>

<div class="col-md-12 start">
    <button md-raised-button>Розпочати перевірку знань</button>
</div>



