<h1>Тестування</h1>

<div class="col-md-12 image">
    <img src="https://pixabay.com/static/uploads/photo/2015/10/01/21/39/background-image-967820_960_720.jpg" class="img-responsive">
</div>

<div class="col-md-12 block-question">
    <span class="question">Питання</span>
    <div class="radio">
        <label><input type="radio" name="optradio">Ответ 1</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="optradio">Ответ 2</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="optradio">Ответ 3</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="optradio">Ответ 4</label>
    </div>
</div>

<div class="col-md-12 button">
    <button md-raised-button>Следующий вопрос</button>
</div>




