.global-block {
  margin-top: 30px;
}
h1 {
  text-align: center;
  margin: 10px 0;
}

md-input {
  width: 100%
}

.row.view {
  height: calc(100vh - 64px);
}

.dx-datagrid {
  top: -50px;
  background-color: transparent;
}

.dx-toolbar {
  background-color: transparent;
}