<md-toolbar color="primary">
    <span>
      GEMK DEMO - Вхід
    </span>
  <span class="fill-bar"></span>
  <button md-icon-button [md-menu-trigger-for]="menu">
    <md-icon>keyboard_arrow_down</md-icon>
  </button>
  <button md-icon-button (click)="close()">
    <md-icon>close</md-icon>
  </button>
</md-toolbar>
<md-menu x-position="before" #menu="mdMenu">
  <button routerLink="/student" (click)="toStudent()" md-menu-item>Студент</button>
  <button routerLink="/teacher" (click)="toTeacher()" md-menu-item>Вчитель</button>
</md-menu>
<md-input placeholder="amount" align="end"></md-input>
<button md-raised-button>УВІЙТИ</button>

