<div class="row full">
    <div class="col-md-4">
        <h3>Додати лекції</h3>
        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="well drop-zone">
            Перетяніть файли для додавання
        </div>
        <span class="choose-text">Або додайте вручну</span>
        <input type="file" ng2FileSelect [uploader]="uploader" multiple/><br/>
    </div>
    <div class="col-md-8" style="margin-bottom: 40px">
        <h3>Список лекцій</h3>
        <p>Кількість лекцій: {{ uploader?.queue?.length }}</p>
        <div class="row">
            <div class="header">
                <div class="col-md-7 col-xl-9">Список лекцій</div>
                <div class="col-md-5 col-xl-3">Дії</div>
            </div>
            <div class="files">
                <div class="file" *ngFor="let item of uploader.queue">
                    <div class="name col-md-7 col-xl-9">
                        <strong [ngClass]="{'in-progress': item.progress !== 100 && item.isUploading}">{{ item?.file?.name }}</strong>
                    </div>
                    <div class="actions col-md-5 col-xl-3">
                        <button md-raised-button color="primary" class="action-button btn-xs" (click)="item.upload()"
                                [disabled]="item.isReady || item.isUploading || item.isSuccess"><i class="material-icons">note_add</i>
                        </button>
                        <button md-raised-button color="accent" class="action-button btn-xs" (click)="removeLecture(item)"><i
                                class="material-icons">remove_circle</i>
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <div class="actions-all">
            <button md-raised-button color="primary" class=" btn-xs" (click)="uploader.uploadAll()"
                    [disabled]="uploader.isUploading || !uploader.getNotUploadedItems().length">Додати всі
            </button>
            <button md-raised-button color="accent" class=" btn-xs" (click)="uploader.clearQueue()"
                    [disabled]="!uploader.queue.length">Видалити всі
            </button>
        </div>

    </div>

</div>
