<div class="row view">
    <h1>Навчальний план</h1>
    <dx-scroll-view class="curriculum">
        <div class="input-group">
            <span class="input-group-addon">Рік підготовки</span>
            <input type="text" [ngModel]="curriculum.trainingYear" [disabled]="true" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Семестри вивчення</span>
            <input type="text" [ngModel]="curriculum.semesters" [disabled]="true" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Загальний обсяг годин</span>
            <input type="text" [ngModel]="curriculum.amountOfHours" [disabled]="true" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Лекції</span>
            <input type="text" [ngModel]="curriculum.lectures" [disabled]="true" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Практичні роботи</span>
            <input type="text" [ngModel]="curriculum.practicalWork" [disabled]="true" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Лабораторні</span>
            <input type="text" [ngModel]="curriculum.laboratory" [disabled]="true" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Самостійне вивчення</span>
            <input type="text" [ngModel]="curriculum.selfStudy" [disabled]="true" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Семінари</span>
            <input type="text" [ngModel]="curriculum.workshops" [disabled]="true" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Вид контролю</span>
            <input type="text" [ngModel]="curriculum.typeOfControl" [disabled]="true" class="form-control">
        </div>
    </dx-scroll-view>
</div>