<div class="row">
    <h1>Навчальний план</h1>
    <div class="curriculum">
        <md-input [(ngModel)]="curriculum.trainingYear" [disabled]="true" [placeholder]="'Рік підготовки'" type="text"></md-input>
        <md-input [(ngModel)]="curriculum.semesters" [disabled]="true" [placeholder]="'Семестри вивчення'" type="text"></md-input>
        <md-input [(ngModel)]="curriculum.amountOfHours" [disabled]="true" [placeholder]="'Загальний обсяг годин'" type="text"></md-input>
        <md-input [(ngModel)]="curriculum.lectures" [disabled]="true" [placeholder]="'Лекції'" type="text"></md-input>
        <md-input [(ngModel)]="curriculum.practicalWork" [disabled]="true" [placeholder]="'Практичні роботи'" type="text"></md-input>
        <md-input [(ngModel)]="curriculum.laboratory" [disabled]="true" [placeholder]="'Лабораторні'" type="text"></md-input>
        <md-input [(ngModel)]="curriculum.selfStudy" [disabled]="true" [placeholder]="'Самостійне вивчення'" type="text"></md-input>
        <md-input [(ngModel)]="curriculum.workshops" [disabled]="true" [placeholder]="'Семінари'" type="text"></md-input>
        <md-input [(ngModel)]="curriculum.typeOfControl" [disabled]="true" [placeholder]="'Вид контролю'" type="text"></md-input>
    </div>
</div>