.fill-bar{
  flex: 1 1 auto;
}

h1 {
  text-align: center;
  margin: 10px 0;
}

span {
  font-size: 1.5em;
}

.mode, .theme {
  margin-bottom: 30px;
}

.start {
  margin-top: 30px;
}

.start button {
  width: 100%;

}
md-nav-list {
  flex-basis: 20%;
  display: flex !important;
  overflow-y: auto;
}

.document {
  flex-basis: 80%;
}

.content {
  width: 100%;
  height: calc(100% - 64px);
  flex-direction: column;
  position: relative;
  display: flex;
}

a.active {
  background-color: #cccccc;
}

.list-img {
  flex-direction: column;
  height: 100%;
}