.fill-bar{
  flex: 1 1 auto;
}

h1 {
  text-align: center;
  margin: 10px 0;
}

span {
  font-size: 1.5em;
}

.mode, .theme {
  margin-bottom: 30px;
}

.start {
  margin-top: 30px;
}

.start button {
  width: 100%;

}
md-nav-list {
  display: flex !important;
  overflow-y: auto;
}

.document {

}

.content {
  position: relative;
  display: flex;
}