body {
    margin: 0;
}
md-toolbar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
md-toolbar span, md-toolbar button {
    -webkit-app-region: no-drag;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

md-list-item.active .md-list-item {
    background-color: #cccccc;
}

* {
    -webkit-user-select: none;
}