<div *ngIf="!isActive() && !hide()">
    <md-toolbar color="primary">
    <span>
      {{title}}
    </span>
        <span class="fill-bar"></span>
        <button md-icon-button (click)="exit()" routerLink="/login">
            <md-icon>exit_to_app</md-icon>
        </button>
    </md-toolbar>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" *ngIf="isTeacher()">
        <md-nav-list>
            <md-list-item routerLink="teacher/curriculum" routerLinkActive="active">
                <a md-line>Навчальний план</a>
            </md-list-item>
            <md-list-item routerLink="/teacher/unit" routerLinkActive="active">
                <a md-line>Навчальний блок</a>
            </md-list-item>
            <md-list-item routerLink="/teacher/materials" routerLinkActive="active">
                <a md-line>Навчальні матеріали</a>
            </md-list-item>
            <md-list-item routerLink="/teacher/testing" routerLinkActive="active">
                <a md-line >Питання для тестування</a>
            </md-list-item>

        </md-nav-list>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" *ngIf="isStudent()">
        <md-nav-list>
            <md-list-item routerLink="student/curriculum" routerLinkActive="active">
                <a md-line>Навчальний план</a>
            </md-list-item>
            <md-list-item routerLink="student/materials/lecture" routerLinkActive="active">
                <a md-line>Лекції</a>
            </md-list-item>
            <md-list-item routerLink="student/materials/selfStudy" routerLinkActive="active">
                <a md-line>Самостійне вивчення</a>
            </md-list-item>
            <md-list-item routerLink="student/materials/laboratoryWork" routerLinkActive="active">
                <a md-line>Лабораторні роботи</a>
            </md-list-item>
            <md-list-item routerLink="student/materials/practicalWork" routerLinkActive="active">
                <a md-line>Практичні роботи</a>
            </md-list-item>
            <md-list-item routerLink="student/materials/controlWork" routerLinkActive="active">
                <a md-line>Контрольна робота</a>
            </md-list-item>
            <md-list-item routerLink="student/testing" routerLinkActive="active">
                <a md-line >Перевірка знань</a>
            </md-list-item>

        </md-nav-list>
    </div>
</div>

<div class="" [ngClass]="{'col-xs-12 col-sm-12 col-md-12 col-lg-12 row main-without-toolbar': isActive() && hide(),
              'col-xs-9 col-sm-9 col-md-9 col-lg-9 main-with-toolbar': !isActive() && !hide()}">
    <router-outlet></router-outlet>
</div>
