body {
    margin: 0;
}
html, body {
    height: 100vh;
    overflow: hidden;
}
md-toolbar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
md-toolbar span, md-toolbar button {
    -webkit-app-region: no-drag;
}

.col-centered{
    float: none;
    margin: 70px auto 0 auto;
}

md-list-item.active .md-list-item {
    background-color: #cccccc;
}

* {
    -webkit-user-select: none;
}

.fill-bar {
    flex: 1 1 auto;
}

.dx-fileuploader-file-status-message{
    display: none !important;
}

.main-without-toolbar {
    height: 100%;
}

.main-with-toolbar {
    height: calc(100% - 64px);
}

body > app-teacher > div.col-xs-9.col-sm-9.col-md-9.col-lg-9.main-with-toolbar > app-materials > div > dx-scroll-view > div.dx-scrollable-wrapper > div > div > div.dx-scrollview-content > dx-data-grid > div > div.dx-datagrid-rowsview.dx-datagrid-nowrap > div > table > tbody > tr.dx-row.dx-column-lines.dx-edit-row.dx-datagrid-edit-form.dx-master-detail-row > td > div.dx-widget.dx-visibility-change-handler.dx-form > div > div > div > div:nth-child(1) > div > div:nth-child(2),
body > app-teacher > div.col-xs-9.col-sm-9.col-md-9.col-lg-9.main-with-toolbar > app-materials > div > dx-scroll-view > div.dx-scrollable-wrapper > div > div > div.dx-scrollview-content > dx-data-grid > div > div.dx-datagrid-rowsview.dx-datagrid-nowrap > div > table > tbody > tr.dx-row.dx-column-lines.dx-edit-row.dx-datagrid-edit-form.dx-master-detail-row > td > div.dx-widget.dx-visibility-change-handler.dx-form > div > div > div > div:nth-child(2) > div > div:nth-child(2),
body > app-teacher > div.col-xs-9.col-sm-9.col-md-9.col-lg-9.main-with-toolbar > my-app > div > dx-scroll-view > div.dx-scrollable-wrapper > div > div > div.dx-scrollview-content > dx-data-grid > div > div.dx-datagrid-rowsview.dx-datagrid-nowrap.dx-scrollable.dx-scrollable-both.dx-scrollable-native.dx-scrollable-native-generic.dx-visibility-change-handler > div > div > div > div > table > tbody > tr.dx-row.dx-column-lines.dx-edit-row.dx-datagrid-edit-form.dx-master-detail-row > td > div.dx-widget.dx-visibility-change-handler.dx-form > div > div > div > div > div > div:nth-child(1) {
    max-width: 300px;
}

div > dx-scroll-view > div.dx-scrollable-wrapper > div > div > div.dx-scrollview-content > dx-data-grid > div {
    top: -45px;
}
div > dx-scroll-view > div.dx-scrollable-wrapper > div > div > div.dx-scrollview-content > dx-data-grid > div > div.dx-datagrid-header-panel > div > div > div.dx-toolbar-after {
    z-index: 3;
}