<md-toolbar color="primary">
    <span>
      GEMK DEMO - Вчитель
    </span>
    <span class="fill-bar"></span>
    <button md-icon-button (click)="exit()" routerLink="/login">
        <md-icon>exit_to_app</md-icon>
    </button>
</md-toolbar>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <md-nav-list>
        <md-list-item>
            <a md-line href="#">Пункт меню</a>
            <button md-icon-button>
                <md-icon>info</md-icon>
            </button>
        </md-list-item>
        <md-list-item>
            <a md-line href="#">Пункт меню</a>
            <button md-icon-button>
                <md-icon>info</md-icon>
            </button>
        </md-list-item>
        <md-list-item>
            <a md-line href="#">Пункт меню</a>
            <button md-icon-button>
                <md-icon>info</md-icon>
            </button>
        </md-list-item>
        <md-list-item>
            <a md-line href="#">Пункт меню</a>
            <button md-icon-button>
                <md-icon>info</md-icon>
            </button>
        </md-list-item>

    </md-nav-list>
</div>
<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <button md-fab class="add-btn">
        <md-icon class="md-24">add</md-icon>
    </button>
    Інформації нема...
</div>
