<div class="global-block">
    <h1>Заповнення тестів</h1>
    <div class="col-md-12 height">
        <div class="col-md-6 height">
            <div class="form-group">
                <label for="exampleSelect2">Список питань: </label>
                <select #selectedQuestion multiple class="form-control multiple  scroll-on" id="exampleSelect2">
                    <option *ngFor='let test of newTest' [value]="test.question" (click)="activeChangeTest(test)" name="list-questions">{{test.question}}</option>
                </select>

                <label class="margin"  for="exampleSelect1">Виберіть тему: </label>
                <select #selectedTheme class="form-control single" id="exampleSelect1" [disabled]="disable" (change)="sortTheme(selectedTheme.value)">
                    <option>Всі теми</option>
                    <option *ngFor='let test of themeArray' [value]="test.id">
                        {{test.theme}}
                    </option>
                </select>
            </div>
            <button md-raised-button class="md-raised md-primary" [disabled]="disable" (click)="addQuestion()">Додати нове питання</button>
            <button md-raised-button class="md-raised md-primary" [disabled]="disable" (click)="addTheme()">Створити тему</button>
            <button md-raised-button class="md-raised md-warn" [disabled]="disable" (click)="removeTheme()">Видалити тему</button>
        </div>
        <div class="col-md-6" *ngIf="changeAddTheme">
            <div class="form-group margin-top">
                <md-input class="enter-question" [(ngModel)]="newTheme" [placeholder]="'Введіть назву теми...'"
                          type="text"></md-input>
                <button md-raised-button class="md-raised md-primary" (click)="confirmAddTheme()">Створити тему</button>
                <button md-raised-button class="md-raised md-warn" (click)="cancelAddTest()">Відмінити</button>
            </div>
        </div>
        <div class="col-md-6" *ngIf="changeTest">
            <div class="form-group margin-top">
                <md-input class="enter-question" [(ngModel)]="Theme" [placeholder]="'Тема: '"
                          type="text" [disabled]="true"></md-input>
                <md-input class="enter-question" [(ngModel)]="newQuestion" [placeholder]="'Введіть питання...'"
                          type="text"></md-input>
                <md-input class="enter-ans" [(ngModel)]="newAns1" [placeholder]="'Введіть першу відповідь...'"
                          type="text"></md-input>
                <md-input class="enter-ans" [(ngModel)]="newAns2" [placeholder]="'Введіть другу відповідь...'"
                          type="text"></md-input>
                <md-input class="enter-ans" [(ngModel)]="newAns3" [placeholder]="'Введіть третю відповідь...'"
                          type="text"></md-input>
                <md-input class="enter-ans" [(ngModel)]="newAns4" [placeholder]="'Введіть четверту відповідь...'"
                          type="text"></md-input>
                <md-input class="enter-good" [(ngModel)]="newGood"
                          [placeholder]="'Введіть правильну відповідь...(Номер: 1,2,3,4)'" type="text"></md-input>
                <span class="choose-text">Поточне зображення: {{img}}</span><br>
                <span class="choose-text">Вибрати нове зображення(не обов'язково)</span>
                <input class="file" type="file" ng2FileSelect [uploader]="uploader"/>
                <button md-raised-button class="md-raised md-primary" (click)="confirmChangeTest()">Внести зміни в питання</button>
                <button md-raised-button class="md-raised md-warn" (click)="removeQuestion()">Видалити питання</button>
                <button md-raised-button class="md-raised md-warn" (click)="cancelAddTest()">Відмінити</button>
            </div>
        </div>
        <div class="col-md-6" *ngIf="changeAddTest">
            <div class="form-group margin-top">
                <md-input class="enter-question" [(ngModel)]="Theme" [placeholder]="'Тема: '"
                          type="text" [disabled]="true"></md-input>
                <md-input class="enter-question" [(ngModel)]="newQuestion" [placeholder]="'Введіть питання...'"
                          type="text"></md-input>
                <md-input class="enter-ans" [(ngModel)]="newAns1" [placeholder]="'Введіть першу відповідь...'"
                          type="text"></md-input>
                <md-input class="enter-ans" [(ngModel)]="newAns2" [placeholder]="'Введіть другу відповідь...'"
                          type="text"></md-input>
                <md-input class="enter-ans" [(ngModel)]="newAns3" [placeholder]="'Введіть третю відповідь...'"
                          type="text"></md-input>
                <md-input class="enter-ans" [(ngModel)]="newAns4" [placeholder]="'Введіть четверту відповідь...'"
                          type="text"></md-input>
                <md-input class="enter-good" [(ngModel)]="newGood"
                          [placeholder]="'Введіть правильну відповідь...(Номер: 1,2,3,4)'" type="text"></md-input>
                <span class="choose-text">Вибрати зображення(не обов'язково)</span>
                <input class="file" type="file" ng2FileSelect [uploader]="uploader"/>
                <button md-raised-button class="md-raised md-primary" (click)="confirmAddTest()">Створити нове питанння</button>
                <button md-raised-button class="md-raised md-warn" (click)="cancelAddTest()">Відмінити</button>
            </div>
        </div>
    </div>
</div>