<div class="global-block" *ngIf="!showDemo">
    <h1>Заповнення тестів</h1>
    <div class="col-md-12 height">
        <div class="col-md-6 height">
            <div class="form-group">
                <label for="exampleSelect2">Список питань: </label>
                <select #selectedQuestion multiple class="form-control multiple  scroll-on" id="exampleSelect2">
                    <option *ngFor='let test of newTest' [value]="test.question" (click)="activeChangeTest(test)" name="list-questions">{{test.question}}</option>
                </select>

                <label class="margin"  for="exampleSelect1">Виберіть тему: </label>
                <select #selectedTheme class="form-control single" id="exampleSelect1" [disabled]="disable" (change)="sortTheme(selectedTheme.value)">
                    <option>Всі теми</option>
                    <option *ngFor='let test of themeArray' [value]="test.id">
                        {{test.theme}}
                    </option>
                </select>
            </div>
            <button md-raised-button class="md-raised md-primary" [disabled]="disable" (click)="addQuestion()">Додати нове питання</button>
            <button md-raised-button class="md-raised md-primary" [disabled]="disable" (click)="addTheme()">Створити тему</button>
            <button md-raised-button class="md-raised md-warn" [disabled]="disable" (click)="removeTheme()">Видалити тему</button>
        </div>
        <div class="col-md-6" *ngIf="changeAddTheme">
            <div class="form-group margin-top">
                <md-input class="enter-question" [(ngModel)]="newTheme" [placeholder]="'Введіть назву теми...'"
                          type="text"></md-input>
                <button md-raised-button class="md-raised md-primary" [disabled]="newTheme === ''" (click)="confirmAddTheme()">Створити тему</button>
                <button md-raised-button class="md-raised md-warn" (click)="cancelAddTest()">Відмінити</button>
            </div>
        </div>
        <div class="col-md-6 " *ngIf="changeTest" style="height: 100%">
            <div class="form-group margin-top" style="height: 100%">
                <div class="scroll">
                    <md-input class="enter-question" [(ngModel)]="Theme" [placeholder]="'Тема: '"
                              type="text" [disabled]="true"></md-input>
                    <label for="1">Питання: </label>
                    <textarea class="form-control" rows="2" id="1" [(ngModel)]="newQuestion"></textarea>

                    <label for="10">Виберіть кількість відповідей: </label>
                    <select #selectedCount [(ngModel)]="simpleValue" class="setCountAnswers" id="10" (change)="changeCountAnswer(selectedCount.value)">
                        <option [value]=2>2</option>
                        <option [value]=3>3</option>
                        <option [value]=4>4</option>
                        <option [value]=5>5</option>
                        <option [value]=6>6</option>
                    </select>
                    <br>
                    <label *ngIf="showAns[0]" for="2">Перша відповідь: </label>
                    <textarea *ngIf="showAns[0]" class="form-control" rows="2" id="2" [(ngModel)]="newAns1"></textarea>

                    <label *ngIf="showAns[0]" for="3">Друга відповідь: </label>
                    <textarea *ngIf="showAns[0]" class="form-control" rows="2" id="3" [(ngModel)]="newAns2"></textarea>

                    <label *ngIf="showAns[1]" for="4">Третя відповідь: </label>
                    <textarea *ngIf="showAns[1]" class="form-control" rows="2" id="4" [(ngModel)]="newAns3"></textarea>

                    <label *ngIf="showAns[2]" for="5">Четверта відповідь: </label>
                    <textarea *ngIf="showAns[2]" class="form-control" rows="2" id="5" [(ngModel)]="newAns4"></textarea>

                    <label *ngIf="showAns[3]" for="6">П'ята відповідь: </label>
                    <textarea *ngIf="showAns[3]" class="form-control" rows="2" id="6" [(ngModel)]="newAns5"></textarea>

                    <label *ngIf="showAns[4]" for="7">Шоста відповідь: </label>
                    <textarea *ngIf="showAns[4]" class="form-control" rows="2" id="7" [(ngModel)]="newAns6"></textarea>
                    <label for="11">Виберіть правильну відповідь: </label>
                    <select #selectedGood [(ngModel)]="newGood" class="setCountAnswers" id="11" (change)="changeSimpleGood(selectedGood.value)">
                        <option *ngIf="showAns[0]" [value]=1>1</option>
                        <option *ngIf="showAns[0]" [value]=2>2</option>
                        <option *ngIf="showAns[1]" [value]=3>3</option>
                        <option *ngIf="showAns[2]" [value]=4>4</option>
                        <option *ngIf="showAns[3]" [value]=5>5</option>
                        <option *ngIf="showAns[4]" [value]=6>6</option>
                    </select>
                    <br>
                    <md-input class="enter-question" [(ngModel)]="newTime" [placeholder]="'Введіть час на це питання(в секундах): '"
                              type="number"></md-input>
                    <span class="choose-text">Поточне зображення: {{img}}</span><br>
                    <span class="choose-text">Вибрати нове зображення(не обов'язково)</span>
                    <input class="file" type="file" ng2FileSelect [uploader]="uploader"/>
                </div>
                <button md-raised-button class="md-raised md-primary" [disabled]="!validQuest() || !validAns1() || !validAns2()
                || !validAns3() || !validAns4() || !validAns5() || !validAns6() || !validTime()"
                        (click)="confirmChangeTest()">Внести зміни в питання</button>
                <button md-raised-button class="md-raised md-warn" (click)="removeQuestion()">Видалити питання</button>
                <button md-raised-button class="md-raised md-warn" (click)="cancelAddTest()">Відмінити</button>
                <button md-raised-button class="md-raised md-primary customize" [disabled]="!validQuest() || !validAns1() || !validAns2()
                || !validAns3() || !validAns4() || !validAns5() || !validAns6() || !validTime()"
                        (click)="hideGlobalMenu()">Демо показ питання</button>
            </div>
        </div>
        <div class="col-md-6 " *ngIf="changeAddTest" style="height: 100%">
            <div class="form-group margin-top" style="height: 100%">
                <div class="scroll">
                    <md-input class="enter-question" [(ngModel)]="Theme" [placeholder]="'Тема: '"
                              type="text" [disabled]="true"></md-input>
                    <label for="101">Питання: </label>
                    <textarea class="form-control" rows="2" id="101" [(ngModel)]="newQuestion"></textarea>

                    <label for="110">Виберіть кількість відповідей: </label>
                    <select #selectedCount [(ngModel)]="simpleValue" class="setCountAnswers" id="110" (change)="changeCountAnswer(selectedCount.value)">
                        <option [value]=2>2</option>
                        <option [value]=3>3</option>
                        <option [value]=4>4</option>
                        <option [value]=5>5</option>
                        <option [value]=6>6</option>
                    </select>
                    <br>
                    <label *ngIf="showAns[0]" for="102">Перша відповідь: </label>
                    <textarea *ngIf="showAns[0]" class="form-control" rows="2" id="102" [(ngModel)]="newAns1"></textarea>

                    <label *ngIf="showAns[0]" for="103">Друга відповідь: </label>
                    <textarea *ngIf="showAns[0]" class="form-control" rows="2" id="103" [(ngModel)]="newAns2"></textarea>

                    <label *ngIf="showAns[1]" for="104">Третя відповідь: </label>
                    <textarea *ngIf="showAns[1]" class="form-control" rows="2" id="104" [(ngModel)]="newAns3"></textarea>

                    <label *ngIf="showAns[2]" for="105">Четверта відповідь: </label>
                    <textarea *ngIf="showAns[2]" class="form-control" rows="2" id="105" [(ngModel)]="newAns4"></textarea>

                    <label *ngIf="showAns[3]" for="106">П'ята відповідь: </label>
                    <textarea *ngIf="showAns[3]" class="form-control" rows="2" id="106" [(ngModel)]="newAns5"></textarea>

                    <label *ngIf="showAns[4]" for="107">Шоста відповідь: </label>
                    <textarea *ngIf="showAns[4]" class="form-control" rows="2" id="107" [(ngModel)]="newAns6"></textarea>
                    <label for="111">Виберіть правильну відповідь: </label>
                    <select #selectedGood [(ngModel)]="newGood" class="setCountAnswers" id="111" (change)="changeSimpleGood(selectedGood.value)">
                        <option *ngIf="showAns[0]" [value]=1>1</option>
                        <option *ngIf="showAns[0]" [value]=2>2</option>
                        <option *ngIf="showAns[1]" [value]=3>3</option>
                        <option *ngIf="showAns[2]" [value]=4>4</option>
                        <option *ngIf="showAns[3]" [value]=5>5</option>
                        <option *ngIf="showAns[4]" [value]=6>6</option>
                    </select>
                    <br>
                    <md-input class="enter-question" [(ngModel)]="newTime" [placeholder]="'Введіть час на це питання(в секундах): '"
                              type="number"></md-input>
                    <span class="choose-text">Вибрати зображення(не обов'язково)</span>
                    <input class="file" type="file" ng2FileSelect [uploader]="uploader"/>
                </div>
                <button md-raised-button class="md-raised md-primary" [disabled]="!validQuest() || !validAns1() || !validAns2()
                || !validAns3() || !validAns4() || !validAns5() || !validAns6() || !validTime()"
                        (click)="confirmAddTest()">Створити нове питанння</button>
                <button md-raised-button class="md-raised md-warn" (click)="cancelAddTest()">Відмінити</button>
                <button md-raised-button class="md-raised md-primary customize" [disabled]="!validQuest() || !validAns1() || !validAns2()
                || !validAns3() || !validAns4() || !validAns5() || !validAns6() || !validTime()"
                        (click)="hideGlobalMenu()">Демо показ питання</button>
            </div>
        </div>
    </div>
</div>

<div class="demo" *ngIf="showDemo">
    <button md-raised-button class="back-button md-primary md-raised" (click)="showGlobalMenu()">Назад</button>
    <div>
        <h1>{{question.theme}}</h1>
        <div class="col-md-12">
            <div class="col-md-6 image">
                <img src={{question.image}}
                     class="img-responsive">
            </div>

            <div class="col-md-6 block-question">
                <span class="question">{{question.question}}</span>
                <div class="question-block">
                    <div>
                        <input type="radio" name="radiog_lite" id="radio1" class="css-checkbox"/>
                        <label for="radio1" class="css-label radGroup1">{{question.answer1}}</label>
                    </div>
                    <div>
                        <input type="radio" name="radiog_lite" id="radio2" class="css-checkbox"/>
                        <label for="radio2" class="css-label radGroup1">{{question.answer2}}</label>
                    </div>
                    <div *ngIf="question.answer3 !== ''">
                        <input type="radio" name="radiog_lite" id="radio3" class="css-checkbox"/>
                        <label for="radio3" class="css-label radGroup1">{{question.answer3}}</label>
                    </div>
                    <div *ngIf="question.answer4 !== ''">
                        <input type="radio" name="radiog_lite" id="radio4" class="css-checkbox"/>
                        <label for="radio4" class="css-label radGroup1">{{question.answer4}}</label>
                    </div>
                    <div *ngIf="question.answer5 !== ''">
                        <input type="radio" name="radiog_lite" id="radio5" class="css-checkbox"/>
                        <label for="radio5" class="css-label radGroup1">{{question.answer5}}</label>
                    </div>
                    <div *ngIf="question.answer6 !== ''">
                        <input type="radio" name="radiog_lite" id="radio6" class="css-checkbox"/>
                        <label for="radio6" class="css-label radGroup1">{{question.answer6}}</label>
                    </div>
                </div>
                <div class="col-md-12 button">
                    <button md-raised-button>Слідуюче питання</button>
                </div>
            </div>
        </div>
    </div>
</div>


