<div class="global-block">
    <h1>Заповнення тестів</h1>
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleSelect2">Список питань</label>
                <select #selectedQuestion multiple class="form-control multiple" id="exampleSelect2">
                    <option *ngFor='let test of newTest' [value]="test.question">{{test.question}}</option>
                </select>

                <label class="margin" for="exampleSelect1">Сортування за темою</label>
                <select #selectedTheme class="form-control single" id="exampleSelect1" (change)="sortTheme(selectedTheme.value)">
                    <option>Виберіть тему...</option>
                    <option *ngFor='let test of newTest' [value]="test.theme">
                        {{test.theme}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <md-input class="enter-question" [(ngModel)]="newQuestion" [placeholder]="'Введіть питання...'"
                          type="text"></md-input>
                <md-input class="enter-ans" [(ngModel)]="newAns1" [placeholder]="'Введіть першу відповідь...'"
                          type="text"></md-input>
                <md-input class="enter-ans" [(ngModel)]="newAns2" [placeholder]="'Введіть другу відповідь...'"
                          type="text"></md-input>
                <md-input class="enter-ans" [(ngModel)]="newAns3" [placeholder]="'Введіть третю відповідь...'"
                          type="text"></md-input>
                <md-input class="enter-ans" [(ngModel)]="newAns4" [placeholder]="'Введіть четверту відповідь...'"
                          type="text"></md-input>
                <md-input class="enter-good" [(ngModel)]="newGood"
                          [placeholder]="'Введіть правильну відповідь...(Номер: 1,2,3,4)'" type="text"></md-input>
            </div>
        </div>
    </div>
</div>