.fill-bar{
  flex: 1 1 auto;
}

h1 {
  text-align: center;
  margin: 60px 0;
}

span {
  font-size: 1.5em;
}

.mode, .theme {
  margin-bottom: 30px;
}

.start {
  margin-top: 30px;
}

.start button {
  width: 100%;
}

.small-text {
  font-size: 1em !important;
  font-style: oblique !important;
}